@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


:root {
    --navbar-bg-color: hsl(0, 0%, 1%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
    --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
  }

.flex{
    display: flex;
    flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  text-decoration: none;
  
}
html,body{
    width: 100vw;
    scroll-behavior: smooth;
    background-color: black;
    background-image: linear-gradient( 109.6deg, rgba(2,0,4,1) 14.2%,rgb(54, 5, 102)91.2% );
    
    
}

body{
    min-height: 100%;
    overflow-x: hidden;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.details{
  margin-right: 240px;
  font-size: 20px;
  text-align: center;
  margin-left: 250px;
}

.reach{
  margin-right: 150px;
  font-size: 20px;
  margin-left: 150px;
  color: white;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
  text-decoration: none;
}


.social-media a:hover {
  color: rgb(38, 212, 38); 
}
.footer{
    margin-top: auto; 
}

/* navbar styling */
.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;

  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
  }
  
  

  .navbar-item {
    margin: -0.2em;
    width: 80%;
    font-size: 1.05rem;
  }

  #navbar-menu{
    margin-left: 300px;
  }

  .logo{

    margin-left: -80px;
    margin-bottom: -30px;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    word-spacing: 0.5px;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0.4em 1.3em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .navbar .dropbtn1 {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }

  .dropbtn1 {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
  }

  .dropdown1 {
    
    text-align: center;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(239, 229, 229, 0.2);
    z-index: 1;
    
  }
  .dropdown-content1 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  .dropdown1:hover .dropbtn1 {
    background-color: var(--navbar-bg-contrast);
    
  }
.logo{
    width: 75px;
    height: 80%;
    margin-top: 5px;
    
    
}
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 769px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }

  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }


   
  }


/* sections Styling */
.section-1{

    
    margin: 0 auto;
    

}
.section-2{

    width: 100vw;
    
    margin: 0 auto;

}


/* h1, p styling */
h1{
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.2px;
    margin-bottom: 2%; 
    
}
p{
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
}
 /* # change animation */
.change::after{
    content: "";
    color:#005685;
    animation: change 2s ease-in-out infinite;
    
}

@keyframes change{
    0%{
        content: "#";
        
    }
    100%{
        content: "H";
    }

}

/* content styiling */

.content-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
    padding: 35px;

    
}



.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: justify;
    align-items: center;
    margin: 6%;
}


.main-info p{
    position: relative;
    top: 4%;
    width: 60%;
    animation: fade 3s linear both;
    animation-timeline: view();
    -webkit-animation-timeline: view();
    animation-range: entry 30% cover 40%;
    animation-duration: 1ms;
}
@keyframes fade{
    from{
            opacity: 0;
            
            
    }
    to{
        opacity: 1;
        
        
    }

}




.section-3 > .content-main{
    position: relative;
    top: 1%;
    padding: 2%;
}

.section-3 > .content-main > .main-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}


/* scroll-reveal animation */

.scroll-reveal > * {
    color: hsl(0 0% 100% / 0.2);
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white,white);
    animation: scroll-reveal linear forwards;
    -webkit-animation-timeline: view();
    animation-timeline: view();
    animation-range: entry 20% cover 60%;
    
    
}


@keyframes scroll-reveal {
    to{
        background-size: 100% 100% ;
    }
}

/* Wrappers / Horizantal scroll */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #1d1616;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
    z-index: 1;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 63px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 64px;
    border-radius: 8px;
    scroll-behavior: smooth;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    min-width: 300px;
    height: 220px;
    list-style: none;
    background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgb(15, 15, 15) 0%, rgb(5, 2, 2) 90% );
    cursor: pointer;
    padding-bottom: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 1px 4px #302f2f
  }
  .carousel .card .img {
    background: #270357;
    height: 60px;
    width: 60px;
    border-radius: 49%;
  }
  .card .img img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 0px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin: 10px 0 4%;
  }
  .carousel .card p {
    text-align: center;
    padding: 2%;
    color: #ffffff;
    font-size: 0.8rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 32px);
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  

/* section 3 cards */
.card-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

.cards{
    margin: 0 auto;
    width:200px;
    height: 250px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10%;
    border: 3px solid rgb(54, 5, 102);
    overflow: hidden;
    animation: fade 3s linear both;
    animation-timeline: view();
    -webkit-animation-timeline: view();
    animation-range: entry 30% cover 40%;
    animation-duration: 1ms;
    margin: 1% 1%;

    
}

.cards img{
    position: relative;
    top: 0;
    width: 152px;
    height: 150px;
    object-fit: cover;
}

.card-container::after{
    content: "";
    width: 200px;
    height: 100px; 
}


.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:rgba(12, 42, 70, 0.897);
    height: 100px;
    border-radius: 10% 10% 0 0 ;
    
}

.card-info h5{
    font-weight: 500;
    color: white;
    text-align: center;
}
/*  footer styling */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: rgb(38, 212, 38); 
  }

 /* Styles for screens up to 768px width */

@media only screen and (max-width: 769px) {


    html,body{
        width:100%;
        
    }
    .navbar > ul > li{
        content :"";
    }
    .menu-icon{
      position: fixed;
      margin-left: -500px;
    }

    .navbar-logo{
      position: fixed;
      margin-left: 20px;
    }
    .section-1,.section-2,.section-3{
        width: 100vw;
        
        
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .wrapper i:last-child {
      right: 3px;
  }
    .section-3{
        height: 130vh;
        background: black;
        
    }
    
    .main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10%;
        margin-top: 20%;

    }

    
    h1{
        font-size: 1.8rem;
   
        margin: 2% auto;
    }
    .card{
      width: 150px;
      height: 240px;
    }
    .main-info p{
        margin-top: 2%;
        width: 80%;
        font-size: 1.1rem;
        text-align: center;
        animation: fade 1s linear both;
        animation-timeline: view();
        -webkit-animation-timeline: view();
        animation-range: entry 10% cover 20%;
        animation-duration: 1ms;
    }
    @keyframes fade{
        from{
                opacity: 0;
                
                
        }
        to{
            opacity: 1;
            
            
        }
    
}

}

/* Styles for screens between 769px and 1024px width */

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .section-3{
        height: 130vh;
        background: black;
    }

   
    .card-container::after{
        content:"";
        width: 150px;
        height: 200px;

    }
    h1{
        
        font-size: 4rem;
        letter-spacing: 0.1px;
        word-spacing: 0.2rem;
        line-height: 1.2;
        margin-bottom: 2%;
        
    }
    
    .main-info p{
        margin-top: 2%;
        width: 60%;
        animation: fade 3s linear both;
        animation-timeline: view();
        -webkit-animation-timeline: view();
        animation-range: entry 50% cover 40%;
        animation-duration: 1ms;
    }
    @keyframes fade{
        from{
                opacity: 0;
                
                
        }
        to{
            opacity: 1;
            
            
        }
    
    }
    
   
  }

  

  @media only screen and (min-width: 1440px) {
    .wrapper i:last-child{
        right: 24px;
      }
      footer{
          margin-top: auto;

      }

  }

  @media only screen and (max-width: 320px){
    h1{
        font-size: 1.4rem;
    }
    .carousel .card{
        min-width: 230px;
    }
    .details{
      font-size: 17px;
    }
    .details p{
      font-size: 17px;
    }
    .reach{
      font-size: 17px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .wrapper i:last-child{
        right: 24px;
      }
  }

  @media screen and (max-width: 1280px){
    

    #navbar-menu{
      margin-left: 200px;
    }
  }

  @media screen and (max-width: 1108px){
    .logo{
      margin-left: 20px;
    }
    #navbar-menu{
      margin-left: 100px;
    }
  }

  @media screen and (max-width: 940px){
    .logo{
      margin-left: -15px;
    }
    #navbar-menu{
      margin-left: -5px;
    }
    .navbar-item{
      margin: -0.5em;
    }
  }

  @media screen and (max-width: 602px){
    .wrapper .carousel{
      margin-left: 110px;
    }
  }
  @media screen and (max-width: 565px){
    .wrapper .carousel{
      margin-left: 90px;
    }
  }

  @media screen and (max-width: 535px){
    .wrapper .carousel{
      margin-left: 80px;
    }
  }

  @media screen and (max-width: 490px){
    .wrapper .carousel{
      margin-left: 50px;
    }
  }

  @media screen and (max-width: 463px){
    .wrapper .carousel{
      margin-left: 35px;
    }
  }

  @media screen and (max-width: 430px){
    .wrapper .carousel{
      
      margin-left: 15px;
    }
  }

  